a{
    text-decoration: none;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    display: flex;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;  
    height: max-content;
    border-bottom: 2px solid gray;
    z-index: 35;
}
#mobile-navigation{
    display: none;
}
.header h2{
    padding: 0 8px;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav-div{
    position:  absolute;
    right: 10px;
    padding: 14px 0;
}
.navbar{
    display: flex; 
    margin: 8px 0; 
}
.navbar a{
    margin: 0 20px;
    text-decoration: none;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover, a.active{
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: purple;
}


/* welcome */
#dev-img{
    display: block;
    width: 27vw;
}
#welcome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
#intro{
    margin: 50px;
}
.purple-heading{
    font-size: 2em;
    padding-left: 10px;
    color: purple;
}
#welcome-head{
    font-size: 2em;
}
.center{
    text-align: center;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif ;
}

#wel-div{
    display: flex;
    flex-wrap: wrap;
}

#info-wel{
    width: 480px;
}

#info-wel p{
    margin: 0px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

#btns{
    padding: 20px 0px;
}
#btns a{
    text-decoration: none;
}

#btn-cv{
    background-color: rgb(25, 28, 37);
    color: white;
    padding: 10px;
    font-weight: 50;
    border-radius: 5px;
    cursor: pointer;
}
#btn-blog{
    background-color: rgb(228 228 228);
    padding: 10px;
    color: black;
    border-radius: 5px;
    font-weight: 50;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#btn-cv:hover{
    padding-bottom:14px;
}
#btn-blog:hover{
    padding-bottom:14px;
}
/* carousel */
html {
    height: 100%;
    width: 100%;
}

.slideshow-container {
    max-width: 70vw;
    display: block;
    position: relative;
    margin: auto;
}

/* Make the images invisible by default */
.Containers {
    display: block;
    margin:auto;
}

/* forward & Back buttons */
.Back,
.forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color:
        grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

/* The circles or bullets and indicators */
.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
    background-color: #717161;
}

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}
/* projects */

.blue-heading{
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 10px auto;
    width: fit-content;
}

#prog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40vw;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.explore-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: #0062cc;
}
/* contact */
.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 65%;
    margin-bottom: 50px;
}

.form-container h2 {
    margin-top: 0;
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    color: #333;
}

.form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.form-container input[type=submit]:hover {
    background-color: #45a049;
}

.image-container {
    width: fit-content;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 50px;
    text-align: left;
}

.image-container img {
    max-width: 100%;
    margin-bottom: 20px;
    
}

.map-container {
    width: 100%;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.map {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* About */
/*#about{
    background: url("../images/carousel/car-2.jpg") no-repeat center fixed;
    background-position:center;
    background-size:cover;
    color: white; 
} */
.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.aboutme h1{
    font-size: 2.2rem;
}
.aboutme img{
    height: 40vh;
    border-radius: 50%;
}
#experience p{
  width: 60vw;
  display: block;
  text-align: center;
}
#skills-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin: 0 25px;
}
.skills{
    border-radius: 50%;
    margin-top: 20px;
    height: 5.2rem;
}

/* footer */
#footer{
    display: flex;
    margin-top:50px;
    background: black;
    opacity: 0.8;
    color: white;
  
}
#icon{
    height: 4em;
    width: 4em;
    border: 2px solid black;
    border-radius: 25px;

}
#ft-h2{
    padding-left: 8px; margin: auto 0;
}
#copyright{
    border-left: 2px solid gray;
    margin: auto 0px; 
    margin-left: 18px; 
    padding-left: 5px;
}
#social-media-links{
    display: block;
    margin: 25px auto;
    position: absolute;
    right: 20px;
}
#social-media-links img{
    height: 2rem;
    height: 2rem;
}

