/* welcome section */
#image{
    display: none;
}
#wel-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#intro{
    display: block;
    text-align: center;
    margin: 0px auto ;
}

/* projects */
.project{
    width: 50vw;
}

/* footer */
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#ft-h2,#copyright{
    margin-top: 16px;
    text-align: center;
}
#social-media-links{
    margin-top: 16px;
    margin-left: 0px;
    text-align: center;
}
